.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  size: 100%;
  background: rgba(0, 0, 0, 0.49);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100500;
}

.modal {
  min-width: 350px;
  display: inline-flex;
  flex-direction: column;
  width: auto;
  padding: 8px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
}

@media (width > 800px) {
  .modal {
    min-width: 450px;
  }
}

.header {
  font-size: 22px;
  padding: 8px;
}

.name {
  padding: 8px;
  border: 1px solid gray;
  margin-bottom: 8px;
  border-radius: 10px;
}

.comment {

}

.count {

}

.submit {

}