.input-wrapper {
  width: 100%;
  margin-top: 16px;
  position: relative;
}

.placeholder {
  position: absolute;
  font-size: 16px;
  //top: calc(12px - 0.5em);
  top: 12px;
  left: 12px;
  line-height: 1em;
  color: #B8B8B8;
  padding: 0 3px;
  transition: top .2s, font-size .2s, width .2s, height .2s;
}

.placeholder-active {
  @extend .placeholder;
  background: white;
  font-size: 14px;
  top: -0.5em;
  color: var(--brand);
}

.placeholder-invisible {
  @extend .placeholder;
  overflow: hidden;
  width: 0px;
  height: 0px;
}

.input {
  border-radius: 10px;
  border: 1px solid #D4D4D4;
  //background: #FBFBFB;
  width: 100%;
  font-size: 16px;
  line-height: 1em;
  padding: 12px;
  transition: border-color .2s;
}

.input-active {
  @extend .input;
  border-color: var(--brand);
}