.list {
  overflow-x: scroll;
  background: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.09);
  width: 100%;
  max-width: 800px;
}

@media (width > 800px) {
  .list {
    border-radius: 5px;
    margin: 16px 0;
    overflow-x: visible;
  }
}