.item {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
}

.left {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 1.1em;
}

.comment {
  font-size: 0.9em;
  color: rgba(0, .5);
  margin-top: 6px;
}

.right {
  display: flex;
}

.count {
  width: 50px;
  margin-right: 16px;
}

.bought {
  size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--brand);
  cursor: pointer;
}