.navbar {
  height: 64px;
  background: var(--brand);
  width: 100%;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  top: 0;
  left: 0;
  position: fixed;
}

.title {
  font-size: 24px;
  color: white;
}

.right {
  display: flex;
}

.icon {
  size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: white;
  cursor: pointer;
}